@import "../../../../assets/scss/default/mixins";
@import "../../../../assets/scss/default/variables";

.section-offers {
    z-index: 3;
    position: relative;
    background-color: #fff;
    
    .search-offers {
        height: 70px;
        margin-bottom: 60px;
        box-shadow: 1px 0 10px -5px #a5a5a5;

        .search-offers-info {
            width: 40%;
            height: 70px;
            float: left;
            padding-top: 9px;
            .info {
                width: 50%;
                float: left;
                p {
                    display: none;
                }
                .tag {
                    color: #fff;
                    padding: 4px 9px;
                    border-radius: 24px;
                    background-color: #996515;
                }
                .title {
                    color: #996515;
                    display: block;
                }
                .text-gray {
                    color: #a5a5a5;
                }
                p.active {
                    display: block;
                }
            }
            .options {
                width: 50%;
                float: right;
                padding-top: 12px;

                .title {
                    cursor: pointer;
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 3px;
                    border-bottom: 2px solid transparent;

                    &.active {
                        border-color: #026764;
                    }
                }
                .label {
                    height: 30px;
                    color: #fff;
                    font-size: 10px;
                    line-height: 30px;
                    text-align: center;
                    display: inline-block;
                    border-radius: 24px;
                    padding-left: 8px;
                    padding-right: 8px;
                    background-color: #000;
                    margin-right: 20px;
                }
                .divider {
                    color: #a5a5a5;
                    margin-left: 6px;
                    margin-right: 6px;
                }
            }
        }
        .search-offers-form {
            top: 10px;
            height: 50px;
            overflow: hidden;
            position: relative;
            border-radius: 24px;
            background-color: #d7d7d7;
            input {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding-left: 115px;
                position: absolute;
                @include placeholder() {
                    color: #666;
                }
            }
            .button {
                top: 0;
                width: 82px;
                height: 50px;
                z-index: 3;
                position: absolute;
                background: #d7d7d7;
                img {
                    width: 20px;
                }
                &.button-search {
                    right: 0;
                    background-color: #026764;
                }
                &.button-select {
                    left: 0;
                    width: 100px;
                    color: #fff;
                    font-size: 16px;
                    background-color: #000;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .search-offers {
        .search-offers-info {
            width: 100% !important;
            .info {
                width: 100% !important;
                float: inherit !important;
                text-align: center !important;
            }
        }
    }
}
